<html>
<head>
	<title>The vaffling empire</title>
	<link rel="shortcut icon" href="http://www.sjomannskirken.no/media/5386287/sjoemannskirken_frimerke_4x3.jpg"><!-- The tiny logo next to the tab text-->
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/site-wide.css">
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/navbar.css">
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/header.css">
</head>

<body>
	<!-- <a href="/home">Home</a> Here comes a fancy pictogram -->
	<header>
		<a href="#"><img src="http://placekitten.com/512/511" /><h1>Vaffling dot noo</h1></a>
	</header>
	<nav>
		<ul>
			<li><a href="#">Communities</a></li>
			<li><a href="#">Payments</a></li>
			<li><a href="#">My waffles</a></li>
		</ul>
	</nav>

	<div id="content">
		<!-- Here be content block -->
		<p class="frontpage_text">
			Here be dragons
		</p>
		<!-- End of content block -->
	</div>

</body>
</html>
