{
	font-family: Georgia, serif;
}
body{
	/*background-color: #0ce8dc;*/
	background-color: white;
	text-align: center;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
/*Unvisited style:*/
a:link{
	color: #0c80e8;
}
/*Visited Style*/
a:visited{
	color: #0c80e8;
}
a:active{
}
a:hover{
	color: #0d4dff;
}

body p{
	display: inline-block;
	font-size: 1.3em;
	max-width:40em;
}
